.flipgrid-selector button:disabled {
  background-color: var(--color-surface25);
  cursor: not-allowed;
}

.flipgrid-selector button:disabled:hover {
  border-color: var(--color-surface75);
  color: var(--color-surface75);
}

.flipgrid-wrapper {
  width: 100%;
  padding: 50px;
}

.flipgrid-gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.flipgrid-gallery-item {
  flex-basis: 25%;
  height: 400px;
  padding: 10px;
}

.flipgrid-gallery-container.small .flipgrid-gallery-item {
  flex-basis: 16.66667%;
}

.flipgrid-image-container {
  height: 90%;
}

.flipgrid-image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* --- Styles pour Tablette (moins de 1200px) --- */
@media (max-width: 1200px) {
    .flipgrid-wrapper {
        padding: 20px; /* Réduire le padding */
    }

    /* Passer à 3 colonnes */
    .flipgrid-gallery-item {
        flex-basis: 33.3333%;
        height: 300px;
    }

    /* Adapter la petite taille (small) à 4 colonnes */
    .flipgrid-gallery-container.small .flipgrid-gallery-item {
        flex-basis: 25%;
    }
}


/* --- Styles pour Téléphone (moins de 600px) --- */
@media (max-width: 600px) {
    /* Passer à 2 colonnes */
    .flipgrid-gallery-item {
        flex-basis: 50%;
        height: 200px; /* Réduire la hauteur des images */
        padding: 5px;
    }

    /* Adapter la petite taille (small) à 3 colonnes */
    .flipgrid-gallery-container.small .flipgrid-gallery-item {
        flex-basis: 33.3333%;
    }
}